compiler-mini/uyac
compiler-mini/**/*.o
compiler-mini/*.o
compiler-mini/*.a
compiler-mini/*.so
compiler-mini/*.dll
compiler-mini/*.dylib
compiler-mini/*.lib
compiler-mini/*.exp
compiler-mini/*.def
compiler-mini/*.manifest
compiler-mini/*.rc
compiler-mini/*.res
compiler-mini/*/*.d
compiler-mini/*/*.a
compiler-mini/*/*.d
compiler-mini/*/*.a
compiler-mini/*/*.so
compiler-mini/*/*.dll
compiler-mini/*/*.dylib
compiler-mini/output.c
compiler-mini/output_complex.c
compiler-mini/src/main.o
compiler-mini/build/
compiler-mini/tests/programs/build/
.comate/
compiler-c/build/
