compiler/uyac
compiler/**/*.o
compiler/*.o
compiler/*.a
compiler/*.so
compiler/*.dll
compiler/*.dylib
compiler/*.lib
compiler/*.exp
compiler/*.def
compiler/*.manifest
compiler/*.rc
compiler/*.res
compiler/*/*.d
compiler/*/*.a
compiler/*/*.d
compiler/*/*.a
compiler/*/*.so
compiler/*/*.dll
compiler/*/*.dylib
compiler/output.c
compiler/output_complex.c
compiler/src/main.o
compiler-mini/tests/test_arena.exe
compiler-mini/tests/test_ast
compiler-mini/tests/test_lexer
compiler-mini/tests/test_arena
compiler-mini/tests/test_parser
compiler-mini/checker.o
compiler-mini/tests/test_checker
compiler-mini/tests/test_codegen
compiler-mini/tests/programs/arithmetic
compiler-mini/tests/programs/assignment
compiler-mini/tests/programs/boolean_logic
compiler-mini/tests/programs/comparison
compiler-mini/tests/programs/control_flow
compiler-mini/tests/programs/nested_control
compiler-mini/tests/programs/operator_precedence
compiler-mini/tests/programs/struct_assignment
compiler-mini/tests/programs/struct_comparison
compiler-mini/tests/programs/struct_test
compiler-mini/tests/programs/unary_expr
